<h1>welcome to Bookers !!</h1>
<h4> Bookers,</h4></br>

<h4>you can share and exchange your opinions , inpressions , and emotions</h4></br>

<h4>about various books!</h4></br>
      <li>
         <%= link_to "Sing Up", new_user_registration_path %>
      </li>
       <li>
         <%= link_to "Log in", new_user_session_path %>
       </li>
